HealthcarePOC.API/.vs/HealthcarePOC.API/FileContentIndex/7fb2cd2b-5ccc-4ddf-99b3-2c6edc7a2dce.vsidx
HealthcarePOC.API/.vs/HealthcarePOC.API/FileContentIndex/c12e7e12-553f-4f2c-9ce3-30622eb96c68.vsidx
HealthcarePOC.API/.vs/HealthcarePOC.API/FileContentIndex/c458febd-7c31-446e-9e0b-4fb9f2125427.vsidx
HealthcarePOC.API/.vs/HealthcarePOC.API/FileContentIndex/eeafaad3-3a23-4f7e-aa76-4093a6bb18ef.vsidx
HealthcarePOC.API/obj/Debug/net9.0/HealthcarePOC.API.AssemblyInfo.cs
HealthcarePOC.API/obj/Debug/net9.0/HealthcarePOC.API.AssemblyInfoInputs.cache
HealthcarePOC.API/obj/Debug/net9.0/HealthcarePOC.API.assets.cache
HealthcarePOC.API/obj/Debug/net9.0/HealthcarePOC.API.GeneratedMSBuildEditorConfig.editorconfig
HealthcarePOC.API/obj/HealthcarePOC.API.csproj.nuget.dgspec.json
HealthcarePOC.API/obj/project.assets.json
HealthcarePOC.API/obj/project.nuget.cache
HealthcarePOC.API/.vs/HealthcarePOC.API/FileContentIndex/c458febd-7c31-446e-9e0b-4fb9f2125427.vsidx
HealthcarePOC.API/.vs/HealthcarePOC.API/FileContentIndex/eeafaad3-3a23-4f7e-aa76-4093a6bb18ef.vsidx
HealthcarePOC.API/obj/Debug/net9.0/HealthcarePOC.API.AssemblyInfo.cs
HealthcarePOC.API/obj/Debug/net9.0/HealthcarePOC.API.AssemblyInfoInputs.cache
HealthcarePOC.API/obj/Debug/net9.0/HealthcarePOC.API.assets.cache
HealthcarePOC.API/obj/Debug/net9.0/HealthcarePOC.API.GeneratedMSBuildEditorConfig.editorconfig
HealthcarePOC.API/obj/HealthcarePOC.API.csproj.nuget.dgspec.json
HealthcarePOC.API/obj/project.assets.json
HealthcarePOC.API/obj/project.nuget.cache
